*
!.gitignore
!README.adoc
!CHANGELOG.adoc
!changelog-details/
!changelog-details/**
!AGENTS.md
!LICENSE
!package.json
!pnpm-lock.yaml
!dprint.jsonc
!antora-playbook.yml
!antora-playbook-local.yml
!docs/
!docs/**
!supplemental-ui/
!supplemental-ui/**
!.github/
!.github/**

node_modules/
node_modules/**
build/
build/**
MEMORIES.md
**/MEMORIES.md
